<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'quotesapp:home' %}" role="button">Quotes</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'quotesapp:add_author' %}" role="button">Add Author</a></li>
            <li><a href="{% url 'quotesapp:add_quote' %}" role="button">Add Quote</a></li>
        </ul>
        <ul>
            <li>Welcome, <b>{{ user.username }}</b></li>
<!--            <li><a href="#" role="button">Profile</a></li>-->
            <li><a href="{% url 'authapp:logout' %}" role="button">Logout</a></li>
        </ul>
         {% else %}
        <ul>
            <li><a href="{% url 'authapp:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'authapp:signin' %}" role="button">Login</a></li>
        </ul>
        {% endif %}
    </nav>
    {% block content %} {% endblock %}
</main>
</body>
</html>
